<form method="POST" action="{{ form.url }}" accept-charset="UTF-8">
	{{! Power ranking }}
	<div class="form-group">
		<label for="power_ranking">
			<i class="fa fa-bolt"></i> Power ranking
		</label>
		<input id="power_ranking"
			   name="power_ranking"
			   placeholder="Pick a number between 1 and 1000"
			   type="text"
			   value="{{#if character.power_ranking}}{{character.power_ranking}}{{/if}}" />
	</div>
	{{! Latitude/Longitude }}
	<div class="form-group">
		<label for="latitude">
			<i class="fa fa-location-arrow"></i> Latitude
		</label>
		<input id="latitude"
			   name="latitude"
			   placeholder="Pick a latitude"
			   type="text"
			   value="{{#if character.latitude}}{{character.latitude}}{{/if}}" />
	</div>
	<div class="form-group">
		<label for="longitude">
			<i class="fa fa-location-arrow"></i> Longitude
		</label>
		<input id="longitude"
			   name="longitude"
			   placeholder="Pick a longitude"
			   type="text"
			   value="{{#if character.longitude}}{{character.longitude}}{{/if}}" />
	</div>
	{{! Inventory }}
	<div class="form-group">
		<label for="inventory">
			<i class="fa fa-suitcase"></i> Inventory
		</label>
		<input id="inventory"
			   name="inventory"
			   placeholder="Pick some items for this player"
			   type="text"
			   value="{{#if character.inventory}}{{character.inventory}}{{/if}}" />
	</div>
	{{! First name }}
	<div class="form-group">
		<label for="firstname">
			<i class="fa fa-user"></i> First name
		</label>
		<input id="firstname"
			   name="firstname"
			   placeholder="Enter the characters first name"
			   type="text"
			   value="{{#if character.trans.[0].firstname}}{{character.trans.[0].firstname}}{{/if}}" />
	</div>
	{{! Last name }}
	<div class="form-group">
		<label for="lastname">
			<i class="fa fa-user"></i> Last name
		</label>
		<input id="lastname"
			   name="lastname"
			   placeholder="Enter the characters last name"
			   type="text"
			   value="{{#if character.trans.[0].lastname}}{{character.trans.[0].lastname}}{{/if}}" />
	</div>
	{{! Nickname }}
	<div class="form-group">
		<label for="nickname">
			<i class="fa fa-user"></i> Nickname
		</label>
		<input id="nickname"
			   name="nickname"
			   placeholder="Enter the characters nickname"
			   type="text"
			   value="{{#if character.trans.[0].nickname}}{{character.trans.[0].nickname}}{{/if}}" />
	</div>
	{{! Overview }}
	<div class="form-group">
		<label for="overview">
			<i class="fa fa-book"></i> Overview
		</label>
		<input id="overview"
			   name="overview"
			   placeholder="Enter an overview that describes this character accurately"
			   type="text"
			   value="{{#if character.trans.overview}}{{character.trans.overview}}{{/if}}" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
	{{{form_token }}}
</form>