<h3>Character Listing</h3>
<table class="table tabel-striped table-bordered table-hover">
	<thead>
		<tr class="record--headings">
			<th>#</th>
			<th>
				<i class="fa fa-bolt"></i> Power ranking
			</th>
			<th>
				<i class="fa fa-location-arrow"></i> Location (lat/long)
			</th>
			<th>
				<i class="fa fa-suitcase"></i> Inventory
			</th>
			<th>
				<i class="fa fa-pencil-square-o"></i> Authoring history
			</th>
			<th>
				<i class="fa fa-user"></i> Name
			</th>
			<th>
				<i class="fa fa-book"></i> Overview
			</th>
			<th>
				<i class="fa fa-share"></i> Actions
			</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="8">
				<div class="pull-left">
					<a class="btn btn-success" href="/character/manage/create">
						<i class="fa fa-plus"></i> Create new character
					</a>
					<a class="btn btn-info" href="/character/manage/import">
						<i class="fa fa-upload"></i> Import from CSV
					</a>
				</div>
				<div class="pull-right">
					<label>Choose language</label>
					<select>
						<option value="en_GB">English (United Kingdom)</select>
					</select>
				</div>
			</td>
		</tr>
	</tfoot>
	<tbody>
		{{#each characters}}
		<tr class="{{#if deleted_at}}danger{{/unless}}">
			<td>
				{{id}}
			</td>
	        <td class="text-center {{#unless power_ranking}}danger{{/unless}}">
	        	{{#if power_ranking}}
	        		<span class="badge">{{power_ranking}}</span>
	        	{{else}}
	        		<p>
	        			<del>No power ranking declared for this character, this could cause problems.</del><br />
	        			<a href="#">
	        				<ins>Choosing a power ranking will fix this potential issue</ins>
	        			</a>
	        		</p>
	        	{{/if}}
	        </td>
	        <td class="{{#unless latitude longitude}}danger{{/unless}}">
	        	{{#if latitude longitude }}
	        		<span>({{latitude}}, {{longitude}})</span>
	        	{{else}}
	        		<p>
	        			<del>This character has no coordinates and will not be able to spawn</del><br />
	        			<a href="#" class="warning">
	        				<ins>Why not pick some coordinates for this player to spawn at?</ins>
	        			</a>
	        		</p>
	        	{{/if}}
	        </td>
	        <td class="{{#unless inventory}}warning{{/unless}}">
	        	{{#if inventory}}
	        		{{inventory}}
	        	{{else}}
	        		<del>This character has nothing in their inventory!</del><br />
					<a href="#">
						<ins>Are you sure they should be equipped with nothing?</ins>
					</a>
	        	{{/if}}
	        </td>
	        <td>
	        	<dl>
	        		<dt>Updated at</dt><dd>{{updated_at}}</dd>
	        		<dt>Created at</dt><dd>{{created_at}}</dd>
	        	</dl>
	        </td>
			<td class="{{#unless trans.firstname trans.lastname trans.nickname}}warning{{/unless}}">
				<p>
					{{#if trans.firstname trans.lastname}}
						<span>{{trans.firstname}} {{trans.lastname}}</span>
					{{else}}
						<del>No information has been set for real name</del><br />
						<a href="#">
							<ins>Why not add this information?</ins>
						</a>
					{{/if}}
					<br />
					{{#if trans.nickname}}
						<strong>({{trans.nickname}})</strong>
					{{else}}
						<del>No nickname has been set</del><br />
						<a href="#">
							<ins>Why not add this information?</ins>
						</a>
					{{/if}}
				</p>
			</td>
			<td class="{{#unless trans.overview}}warning{{/unless}}">
				<p>
					{{#if trans.overview}}
					<span>{{trans.overview}}</span>
					{{else}}
					<del>No information available</del><br />
					<a href="#">
						<ins>Why not add this information?</ins>
					</a>
					{{/if}}
				</p>
			</td>
			<td class="text-center">
				<div class="btn-group">
					<button type="button" class="btn btn-warning"><i class="fa fa-hand-o-right"></i> Action</button>
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    		<span class="caret"></span>
			    		<span class="sr-only">Toggle Dropdown</span>
			  		</button>
			  		<ul class="dropdown-menu" role="menu">
					    <li>
					    	<a href="/character/manage/{{id}}/edit"><i class="fa fa-pencil"></i> Modify</a>
					    </li>
					    <li>
					    	<a href="#"><i class="fa fa-files-o"></i> Copy</a>
					    </li>
					    <li>
					    	<a href="#"><i class="fa fa-archive"></i> Archive</a>
					    </li>
					    <li class="divider"></li>
					    <li>
					    	<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
					    </li>
			  		</ul>
				</div>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>